<!doctype html>
<html lang="en">
    {% include 'partials/header.html' %}
    <body>
        {% block content %}
        {% include 'partials/navbar.html' %}
        {% from 'bootstrap/form.html' import render_form %}
        <div class="container">
            <div class="row">
                <div class="col">
                    {{ render_form(registration_form) }}
                </div>
                <div class="col">
                    {{ render_form(login_form) }}
                </div>
            </div>
        </div>
        {% endblock %}

        {% block scripts %}
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>
