<!doctype html>
<html lang="en">
    {% include 'partials/header.html' %}
    <body>
        {% block content %}
	    {% include 'partials/navbar.html' %}
        <div class='jumbotron'>
            <h1 class="display-4">
                Your profile
            </h1>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h2 class="display-9">Name: </h2>
                    </div>
                    <div class="col-sm">
                        <h2 class="display-9"> {{ user.name }} </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <h2 class="display-9">Friends: </h2>
                    </div>
                    <div class="col-sm">
                        <h2 class="display-9"> {{ n_friends}} </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <h2 class="display-9"> Date of birth: </h2>
                    </div>
                    <div class="col-sm">
                        <h2 class="display-9"> {{ user.birthday }} </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <h2 class="display-9"> Gender: </h2>
                    </div>
                    <div class="col-sm">
                        <h2 class="display-9"> {{ user.gender }} </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <h2 class="display-9"> Country: </h2>
                    </div>
                    <div class="col-sm">
                        <h2 class="display-9"> {{ country }} </h2>
                    </div>
                </div>
                <hr class="my-4">
                <div class='row'>
                    <div class="col-sm">
                        <h2 class="display-9"> Interests: </h2>
                    </div>
                    {% for interest in interests %}
                    <div class="col-sm">
                        <h2 class="display-9"> {{interest[0]}} </h2>
                    </div>
                    {% endfor %}
                </div>
            </div>


        </div>
        {% endblock %}

        {% block scripts %}
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>
