<!-- Navigation bar -->
{% from 'bootstrap/nav.html' import render_nav_item %}
{% from 'bootstrap/utils.html' import render_messages %}
{{render_messages()}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-nav mr-auto">
    {{ render_nav_item('posts', 'Posts') }}
    {{ render_nav_item('new_post', 'Create a Post') }}
    {{ render_nav_item('tags', 'Tags and Interests') }}
    {{ render_nav_item('users', 'People') }}
    {{ render_nav_item('profile', 'Profile') }}
    {{ render_nav_item('friends', 'Friends') }}
    {{ render_nav_item('logout', 'Logout') }}
  </div>
</nav>
